.nav-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #eaab00;
  width: 50%;
  border-radius: 10px;
  height: 70px;
  z-index: 1;
}


.nav-top .nav {
  color: black;
}

.nav {
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 17px;
  z-index: 2;
  padding: 18px 30px;
  font-weight: 500;
  
 
}




section {
  display: grid;
  place-items: normal;
  height: 100vh;
  font-size: 32px;
  font-weight: bold;
}

