
@font-face {
  font-family: 'CustomFont'; 
  src: url('/public/AGENTORANGE.TTF'); 
}

@font-face {
  font-family: 'textFont';
  src: url('/public/MADECarvingSoftOutlinePERSONALUSE-Thin.otf');
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  background:black;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  margin-top: 100px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

